.aboutme { 
    .title {
        color: var(--title);
       text-align: center;
    }
        .content {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            align-items: center;
            .text {
                text-align: justify;
                color: var(--paragraph);
                flex-basis: 2;
                order: 0;
            }
        
            .image {
                aspect-ratio: 1;
                background-image: url('../../public/images/pic.jpg');
                background-size: cover;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                flex-basis: 1;
                order: 1;
            }
        }
    
        @media screen and (max-width: 1024px){
            .content {
                flex-direction: column-reverse;
                .image {
                    width: 70%;
                }
                .text {
                    max-width: 60%;
                }
            }
        
        }
        @media screen and (max-width: 1200px){
            .text {
                flex-basis: 1;
            }
        
        }
    
    
}


