.content__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  .content__container[data-variant="image-first"]{
    flex-direction: row-reverse;
  }
  
  .content__title {
    text-align: center;
    text-transform: uppercase;
  
  }
  
  .content__text {
    width: 80%;
  
  }
  
  
  .content__image {
    max-width: 30%;
    height: auto;
    margin: 0 auto;
  }
  .content__description {
    margin: 0 auto;
    width: 40%;
    text-align: justify;
    margin-top: 1rem;
  
  
  }
  