.users{
    width: 90%;
    margin: 0 auto;
}
.users__headline{
    color: grey;
}
.users__loading{
    text-align: center;
}
.users__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.users__article{
    margin-bottom: 1em;
}
.users__link{
    display: block;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
    border: 2px solid transparent;
    padding: 1em 2em;
    color: grey;
    text-decoration: none;
    transition: 250ms;
    &:hover {
        border-color:yellow;
        color: black;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.users__image {
    width: 100%;
    height: auto;
    max-width: 100px;
    border-radius: 50%;
    text-align: center;
}
.users__name{
    margin-bottom: 0;
    text-align: justify;
}
.users__mail{
    margin-top: .5em;
    text-align: right;
}
.users__description{
    margin-top: .5em;
    text-align: justify;
}