.header {

}
.header__navbar {
    position: fixed;
    right: 5%;
    top: 5%;
}
.navbar__icon {
    position: absolute;
    right: 5%;
    cursor: pointer;
    z-index: 3;
}
.navbar__menu {
    list-style-type: none;
    text-align: right;
    transition: 250ms;
    position: fixed;
    top: 10%;
    right: 0;
    line-height: 2em;
    color: white;
    background-color: rgba(170, 187, 204, 0.90);
    z-index: 2;
    height: 100%;
    padding: 1em;
    width: 50%;
}
.navbar__menu--show {
    display: none;
}
.navbar__list {

}