.picker {
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem;
}
.picker__intro {
    max-width: 100%;
}
.picker__headline {
    color: #202020;
    margin-bottom: 0;
}
.picker__ingredients {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.picker__total {
    text-align: right;
}
.picker__price {
    font-weight: 700;
}

.ingredient {
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    padding: 1px;
    border: 1px solid #E9E9E9;
    border-radius: 3px;
    position: relative;
}
.ingredient__column {
    display: flex;
}
.ingredient__column:first-child {
    align-items: center;
}
.ingredient__image {

}
.ingredient__counter {
    background-color: #E2001A;
    color: #FFF; 
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    transform: translate(-10px, -10px);
}
.ingredient__name {
    font-size: 93%;
    color: #333;
    transform: translateX(-10px);
}
.ingredient__control {
    background: #3F3F3F;
    color: #FFF;
    border: none;
    margin-left: 1px;
    width: 34px;
    cursor: pointer;
}
.ingredient__control--remove {

}
.ingredient__control--add {

}

.ingredient[data-amount="0"] .ingredient__counter {
   opacity: 0;
}
.ingredient[data-amount="0"] .ingredient__control--remove {
    visibility: hidden;
}
.ingredient[data-amount="0"] .ingredient__control--add {
    background: transparent;
    color: #999;
}
.picker__warning {
   position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    border-top: 4px solid var(--color-primary);
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
    padding: 2em;

}
.warning__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-top: 4px solid red;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
    padding: 2em;
    width: 20rem;
}
.warning__close {
    position: absolute;
    right: 0;
    top: 1rem;
    font-size: 1.5em;
    background: transparent;
    border: none;
    padding: 0 .5em;
    cursor: pointer;

}
