body {
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.main-container {
    display: fixed;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 75vh;
}
.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}
.image {
    width: 50%;
    background-image: url('/images/image-product-desktop.jpg');
    background-size: cover;
    border-radius: 10px 0 0 10px;

}
.product {
    width: 50%;
    max-height: 100%;
    padding: 1.2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-category {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .2em;
    font-size: .8rem;
    color: hsl(228, 12%, 48%);
}
.product-name {
    font-family: 'Fraunces', serif;
    font-size: 1.9rem;
    line-height: 1.9rem;
    margin: 0;
}
.product-description {
    font-size: .8rem;
    line-height: 1.5rem;
    color: hsl(228, 12%, 48%);
}
/*.product-description-hightlight {

}*/
.product-price {
    display: inline-flex;
    width: 100%;
    justify-content: start;
    gap: 1rem;
    margin: 0;
}
.product-price-actual {
    font-family: 'Fraunces', serif;
    font-size: 1.7rem;
    color: hsl(158, 36%, 37%);
    margin: 0;
}
.product-price-previous {
    text-decoration: line-through;
    font-size: .8rem;
    color: hsl(228, 12%, 48%);
}
/*.product-cta {

}*/
.product-cta-button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    font-family: inherit;
    border-radius: 10px;
    cursor: pointer;
}
.product-cta-button:hover {
    background-color: hsl(159, 37%, 16%);
}

@media screen and (max-width: 576px ) {
    .main-container {
        display: block;
        width: 90%;
        height: 90%;
        margin: auto;
    }
    .container {
        flex-direction: column;
    }
    .image {
        width: 100%;
        height: 40vh;
        background-image: url('/images/image-product-mobile.jpg');
        border-radius: 10px 10px 0 0;
        aspect-ratio: auto;
    }
    .product {
        width: 100%;
        height: 60vh;
        padding: 1.2rem 1.8rem;
    }
    .product-description {
        line-height: 1.5rem;

    }
}