.features__container {
  width: 80%;
  margin: 0 auto;
  display: flex;

  ul {
    display: inline-flex;
    list-style-position: outside;
    padding-left: 0;
  }
}

.features__list {
  list-style: none;
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.features__content-list {
  padding-left: 0;
  margin-left: 0;
}

.feature__box {
  min-width: 15%;
  margin: 1rem;
}


  .feature__btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(235, 224, 224, 0.92);
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(235, 224, 224, 0.2);
    cursor: pointer;
    transition: 1000ms;
    &:hover {
      background-color: red;
      .feature__icon {
        filter: brightness(0) invert(1);
      }
      .feature__link {
        color: white;
      }
    
    &:link {
      color: aliceblue;
    }
  }
}

.features__btn--active {
  background-color: red;
  .feature__icon {
    filter: brightness(0) invert(1);
  }
  .feature__link {
    color: white;
  }
}
.feature__icon {
  color: blue;
  width: 50%;
  height: auto;
  margin: 1em auto;
}

.feature__link {
  margin: 1rem auto;
  text-decoration: none;
  text-align: center;
}

.features__arrow {
  position: relative;
  top: 45%;
  margin: 0 auto;
  // padding-top: 7rem;
  font-size: 40px;
  cursor: pointer;
  transition: 500ms;

  &:hover {
    fill: red;
    color: rgb(129, 125, 125, 0.8);
  }
}

.features__arrowCircle {
  &:hover {
    fill: red;
  }
}

.features__content {
  overflow: hidden;
}
