@import "../../styles/variables.scss";

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 25vh;
    height: 100%;
    background-color: $background;
    box-shadow: 0 2px 5px $title-shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    .logo {
        display: block;
        margin: 0 auto;
        margin-top: 2rem;
        width: 20vh;
        height: 20vh;
        mask: url('../../public/images/logo.svg');
        mask-size: cover;
        background-color: $paragraph;
        cursor: pointer;
        transition: 250ms ease-out;

        &:hover {
            background-color: $hover;
        }
    }

    .navigation {
        list-style-type: none;
        padding-left: 0;

        .item {
            color: $paragraph;
            padding: 1em 1em;
            text-align: center;
            text-transform: uppercase;
            transition: 250ms ease-out;

            &:hover {
                color: $hover;
                text-decoration: underline;
            }
        }
    }

    .social {
        list-style-type: none;
        display: inline-flex;
        padding-left: 0;
        width: 100%;
        justify-content: center;
        gap: 1rem;
        font-size: 2rem;
        color: $paragraph;

        a {
            transition: 250ms ease-out;

            &:hover {
                color: $hover;
            }
        }

    }

    .toggle {
        margin: 0 auto;

    }

}