.sidebar {
    height: 100%;
    background-color: var(--background);
    box-shadow: 0 2px 5px var(--title-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    .logo {
        display: block;
        margin: 0 auto;
        margin-top: 2rem;
        width: 20vh;
        height: 20vh;
        mask: url('../../public/images/logo.svg');
        mask-size: cover;
        background-color: var(--paragraph);
        cursor: pointer;
        transition: 250ms ease-out;

        &:hover {
            background-color: var(--hover);
        }
    }

    .navigation {
        list-style-type: none;
        padding-left: 0;

        .item {
            color: var(--paragraph);
            padding: 1em 1em;
            text-align: center;
            text-transform: uppercase;
            transition: 250ms ease-out;

            &:hover {
                color: var(--hover);
                text-decoration: underline;
            }
        }
    }

    .social {
        list-style-type: none;
        display: inline-flex;
        padding-left: 0;
        width: 100%;
        justify-content: center;
        gap: 1rem;
        font-size: 2rem;
        color: var(--paragraph);

        a {
            transition: ease-in-out;

            &:hover {
                color: var(--hover);
            }
        }

    }

    .toggle {
        margin: 0 auto;

    }

}