.myskills {
    transition: 250ms;
    .programs {
        .subtitle {
            font-size: 1.5rem;
            padding: 2rem 0;
            text-align: center;
            color: var(--basic-texts);
        }
                .box {
                    width: 70%;
                    margin: 0 auto;

                    .box__link {

                        .box__image {
                            overflow: hidden;
                            border-radius: 50%;
                            box-shadow: inset 1rem 1rem 1rem var(--paragraph);

                            img {
                                display: block;
                                transform: scale(1.15);
                                max-width: 100%;
                                margin: auto auto;
                            }
                        }

                    
                }
            
        }

    }
}
.swipe{
    transition: 250ms;
    width: 100%;
}