.nav {  header {
    margin-top: 2rem;
}
nav {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
img {
    display: block;
    max-width: 100%;
}
ul {
    display: inline-flex;
    flex-grow: 2;
    max-width: 100%;
    list-style-type: none;
    text-transform: uppercase;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: black;
}
}