
@keyframes jump {
    from { transform: translate(-0.1rem, 0.3rem); }
    to { transform: translate(-0.1rem, 0.5rem); }
}

.frontpage {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .subtitle {
        color: var(--paragraph);
        margin: 0;
        font-size: 1.5rem;
        font-weight: 200;
    }

    .title {
        font-size: 8rem;
        color: var(--title);
        text-shadow: 2px 2px var(--title-shadow);
        margin: 0;
    }

    .description {
        color: var(--paragraph);
        font-size: 2rem;
    }
    .call_to_action {
        padding: 1rem;
        background-color: transparent;
        border: 1px solid var(--title-shadow);
        box-shadow: 2px 2px 2px var(--title-shadow) ;
        width: fit-content;
        color: var(--paragraph);
        cursor: pointer;
        transition: 250ms;
        &:hover {
            background-color: var(--title-shadow);
        }
    }
    .scroll {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        bottom: 1rem;
        right: 1rem;
        font-weight: 100;
        font-size: 1rem;
        transform: translate(4.5rem, -5rem);
        .scroll__text {
            color: var(--paragraph);
            writing-mode: vertical-rl;
        }

        .scroll__arrow {
            color: var(--paragraph);
            animation: jump 500ms alternate-reverse infinite;

        }
    }
}