.container {
    width: 80%;
    margin: 100px auto;
}

.container__box {
    display: inline-flex;
    align-items: center;
}

.navigation {
    display: inline-flex;
}

.navigation__left {}

.btn {
    border: none;
    background-color: transparent;
    font-size: 2em;
    cursor: pointer;
    color: grey;

    &:hover {
        color: black;
    }
}

.navigation__left__btn {}

.left__btn {}

.container__content {
    list-style: none;
    display: inline-flex;
    gap: 1rem;
    padding-left: 0;
}

.content__item {

}

.item__box {
    position: relative;
    
}

.item__picture {
    display: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.picture {
    display: block;
    max-width: 100%;
}

.item__details {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .item__title {
        font-size: 2rem;
        color: white;
        text-align: left;
    }
}

.item__description {}

.item__languages {
    width: 100%;
    display: flex;
    gap: 0.2rem;
    justify-content: left;
    color: white;
    
    transition: 250ms;

    span {
        background-color: rgba(211, 211, 211, 0.541);
        padding: 0.3rem;
        cursor: default;

        &:hover {
            background-color: rgba(211, 211, 211, 0.8);
            color: rgb(73, 73, 73);
        }
    }
}

.navigation__right {}

.navigation__right__btn {}

.right__btn {}