.contactme {
    transition: 250ms;
    .title {

    }
    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-content: flex-start;    
        
    
        .form {
            max-width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2%;
            grid-template-rows: 10% 10% 10% 52% 10%;
      input, textarea, button {
        border: none;
        background-color: var(--title-shadow);
        color: var(--paragraph);
      }
            .form__name {
            }
            .form__surname {

            }
            .form__email {
                grid-column: 1 / 3;

            }
            .form__subject {
                grid-column: 1 / 3;

            }
            .form__message {
                grid-column: 1 / 3;
                resize: none;
                font-family: inherit;
            }
            .form__button {
                grid-column: 1 / 3;
            }
        }
        .text {
            color: var(--paragraph);            
            .paragraph {
                align-self: flex-start;
                margin: 0;
                text-align: justify;
            }
        }
        
    }
}