.contactme {
    width: 100%;
    transition: 250ms;

    .title {}

    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-content: flex-start;
        @media screen and (max-width:1024px) {
            grid-template-columns: 1fr;
        }


        .form {
            top:0;
            left: 0;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2%;
            grid-template-rows: 10% 10% 10% 52% 10%;
            @media screen and (max-width:1024px) {
                height: 70vh;
                display: flex;
                flex-direction: column;
                input {
                    flex-grow: 1;
                    font-size:2rem;
                }
                textarea {
                    flex-grow: 3;
                    font-size:2rem;
                }
                button {
                    flex-grow: 1;
                    font-size:2rem;
                }
            }
            @media screen and (max-width:420px){
                input,
                textarea,
                button {
                    font-size: 1.5rem;
                }
            }
            input,
            textarea,
            button {
                width: 100%;
                border: none;
                background-color: var(--title-shadow);
                color: var(--paragraph);
            }
            .form__name {}

            .form__surname {}

            .form__email {
                grid-column: 1 / 3;
            }

            .form__subject {
                grid-column: 1 / 3;

            }

            .form__message {
                grid-column: 1 / 3;
                resize: none;
                font-family: inherit;
                padding-top: .7rem;
            }

            .form__button {
                grid-column: 1 / 3;
            }
        }

        .text {
            color: var(--paragraph);

            .paragraph {
                align-self: flex-start;
                margin: 0;
                text-align: justify;
            }
        }

    }
}