
.nav__container {
    margin: 1rem auto;
    padding: 1rem;
    width: 90%;
    display: flex;
    align-items: center;
  }
  
  .nav__logo {
    width: 100px;
  }
  
  .nav__user {
    display: inherit;
    list-style: none;
    text-transform: capitalize;
    margin-right: 10rem;
   
  }
  
  
  .nav__list {
    display: flex;
    list-style: none;
    text-transform: capitalize;
    align-items: center;
  }
  
  
  .nav__search {
    height: 1.5em;
    border-radius: 5rem;
    border: transparent;
    font-size: 14px;
    padding: 0.3em;
    align-items: center;
  }
  .nav__button {
    width: 6rem;
    border-radius: 5rem;
    background-color: #222;
    color: whitesmoke;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.3em;
    margin-left: 2rem;
    
  }
  
  .nav__link {
    margin: 1rem;
    text-decoration: none;
  }