.post {
    z-index: 20;
    background-color: var(--box-hover);
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transition: 250ms;
    @media screen and (max-width:1024px) {
        width: 100%;
    }

    .container {
        width: 95%;
        height: 75%;
        margin: 12.5% 2.5%;
        background-color: var(--title-shadow);
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        gap: .5rem;
        transition-delay: 500ms;
        align-items: center;
        button {
            width: 3rem;
            border:none;
            background: none;
            color: white;
            font-size: 3rem;
            cursor: pointer;
            transition: 250ms;
            &:hover {
               transform: scale(1.3);
               
            }
        }
        .btn__back[data-amount="1"] {
           visibility: hidden;
        }
        .btn__foward[data-amount="6"] {
            visibility: hidden;
         }
        .content {
            flex-grow: 2;
           
            .title {
                font-weight: 800;
                font-size: 3rem;
                color: var(--title);
                text-align: center;
            }

        }



    }



    .close {
        position: fixed;
        cursor: pointer;
        top: 1.5rem;
        right: 1.5rem;
        font-size: 2rem;
        color: var(--paragraph);
        &:hover {
            transform: scale(1.3);
         }
         @media screen and (max-width:1024px) {
            font-size: 4rem;
        }
    }
}