:root {
  --background: #002023 ;
  --title-shadow: #013b42;
  --title: #016e79;
  --border: #68382d;
  --paragraph: #f5ead2;
  --hover: #f59981;
  --basic-texts: #f57237 ;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--background);
}
main {
  margin-left: 12.5vh;
  padding: 2rem;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: $orange-heavy;
//     background: $background;
//   }
// }
