
    $background: #002023;
    $title-shadow: #013b42;
    $title: #016e79;
    $border: #68382d;
    $paragraph: #f5ead2;
    $basic-texts: #f57237;
    $hover: #f59981;
 



     // .body.dark {
    //     $background: #002023;
    //     $blue-darker: #013b42;
    //     $blue-lighter: #016e79;
    //     $brown: #68382d;
    //     $orange-heavy: #f5ead2;
    //     $orange-lighter: #f57237;
    //     $pink-soft: #f59981;
    // }


 
    // $background: #002023;
    // $title-shadow: #013b42;
    // $title: #016e79;
    // $border: #68382d;
    // $paragraph: #f5ead2;
    // $hover: #f57237;
    // $basic-texts: #f59981;