.container {
    box-sizing: border-box;
    width:100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    .nav {
        height: 100%;
    }
    .main {
        height:100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 2.5rem;
        align-self: center;
        @media screen and (max-width: 768.5px) {
            padding: 0.5rem;
        }
        @media screen and (max-width: 1024px) {
            padding: 2rem;
        }
    }
}

@media screen and (max-width: 1024px){
.container {
    grid-template-columns: 1fr;
    .nav {
        height: 100vh;
    }
}
.container[data-amount=false] {
    .nav {
        display: block;
    }
    .main {
        display: none;
    }
}
.container[data-amount=true] {
    .nav {
        display: none;
    }
    .main {
        display: block;
    }
}
}